.eye_position {
  right: 4%;
  top: 17%;
}

.input_bg {
  border: 3px solid orange;
  padding: 10px;
  border-radius: 10px;
}

.input_bg::placeholder {
  color: red;
  font-size: 18px;
  font-weight: 400;
}

.width_30 {
  width: 30%;
}

:focus-visible {
  outline: unset !important;
}

.submit_btn {
  border: 3px solid orange;
  padding: 10px 15px;
  border-radius: 10px;
  color: red;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
}